/* DESIGN CHOICES: 

H2 TEXT: 24px
NORMAL TEXT: 20px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e8f1f2;
  font-weight: 400;
  color: #112a46;
  min-height: 100vh;
}

/* NAVIGATION BAR  */

.header {
  /* Layout Properties */
  top: 0px;
  /* left: -11px; */

  /* flex: 0 1 auto; */

  /* width: 1931px; */
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  /* max-width: 120rem; */
  margin: 0 0;
  /* UI Properties */
  background: #68a5de 0% 0% no-repeat padding-box;
  border: none;
  opacity: 1;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.main-nav-link {
  text-decoration: none;
  /* Layout Properties */
  /* top: 36px;
  left: 1147px;
  width: 178px;
  height: 33px; */
  /* padding: 0 17.5px 17.5px; */
  /* UI Properties */
  text-align: center;
  font: normal normal normal 15px Roboto;
  letter-spacing: 1.65px;
  color: #e8f1f2;
  text-shadow: 0px 3px 6px #000000a3;
  opacity: 1;
  text-transform: uppercase;
}

.logo {
  transform: scale(0.6);
}

/* MY ACCOUNT */

.container {
  margin: 0 auto;
}

.section-add-friend {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

.add-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  background: transparent
    linear-gradient(139deg, #68a5de6e 0%, #e8f1f2 79%, #e8f1f2 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: -3px 5px 60px #00000045;
  border-radius: 35px;
  opacity: 1;
  /* padding-bottom: 8rem; */
}

.heading-secondary {
  text-align: center;
  margin-bottom: 2.4rem;
  margin-top: 1rem;
  font: normal normal normal 24px/45px Roboto;
  letter-spacing: 2.24px;
  color: #112a46;
  opacity: 1;
  text-transform: uppercase;
  position: relative;
}

.heading-secondary::after {
  content: "";
  display: block;
  width: 20rem;
  height: 1px;
  margin: 0 auto;
  /* align-self: center; */
  background: #68a5de;
  margin-bottom: 1.6rem;
}

.add-friend-form {
  text-align: center;
  display: grid;
}

.add-friend-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.add-friend-list label {
  display: block;
  text-align: center;
  font: normal normal normal 20px/39px Roboto;
  letter-spacing: 1px;
  color: #112a46;
  opacity: 1;
  margin-right: 2.5rem;
}

.add-friend-list input,
.add-friend-list select,
.add-friend-list option {
  align-self: flex-start;
  padding: 1rem;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 20px;
  opacity: 1;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  font-size: 2rem;
}

#select-where {
  padding: 1.2rem;
  font-size: 2rem;
  font: normal normal normal 20px/39px Roboto;
}
/* CA SA FIE ALINIATE CASUTELE DE LA FORM  */
.add-friend-item {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-save,
.btn-save:link,
.btn-save:visited {
  text-decoration: none;
  font: normal normal normal 20px/45px Roboto;
  letter-spacing: 2.24px;
  color: #112a46;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  transition: all 0.3s;
  border: 2px solid #68a5de;
  border-radius: 20px;
  opacity: 1;
  cursor: pointer;
  font-family: inherit;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
}

.btn-save:hover,
.btn-save:active {
  background-color: #68a5de;
  color: #e8f1f2;
}
