<!DOCTYPE html>
<hmtl lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="MyLocations.css" />
    <link rel="stylesheet" href="General.css" />
    <link rel="stylesheet" href="MyChildren.css" />
    <link rel="stylesheet" href="MyChildren2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Kidpoint</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="box box-addchildren">
      <header class="header nav-open">
        <a href="main-page.html">
          <img class="logo" alt="Kidpoint logo" src="SVG/kidpointnav1.svg" />
        </a>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a class="main-nav-link" href="MyChildren.html">My children</a>
            </li>
            <li>
              <a class="main-nav-link" href="MyFriends.html">My friends</a>
            </li>
            <li>
              <a class="main-nav-link" href="my-account.html">My account</a>
            </li>
            <li><a class="main-nav-link js-logout">Log out</a></li>
          </ul>
        </nav>
      </header>

      <section class="main-container main-container-children">
        <div class="first-column-flex">
          <div class="title my-children-title">My children</div>
          <div class="mychildren-list" id="allChildren">
            <!-- <div class="mychildren-list-element">
              <img class="child-icon" alt="Child" src="SVG/child-icon.svg" />
              <p class="child-name"></p>
              <p class="child-details">Last seen at </p>
            </div> -->

            <!-- <div class="mychildren-list-element">
              <img class="child-icon" alt="Child" src="SVG/child-icon.svg" />
              <p class="child-name">Rebecca Blue</p>
              <p class="child-details">Last seen at...</p>
            </div>

            <div class="mychildren-list-element">
              <img class="child-icon" alt="Child" src="SVG/child-icon.svg" />
              <p class="child-name">Rebecca Blue</p>
              <p class="child-details">Last seen at...</p>
            </div>

            <div class="mychildren-list-element">
              <img class="child-icon" alt="Child" src="SVG/child-icon.svg" />
              <p class="child-name">Rebecca Blue</p>
              <p class="child-details">Last seen at...</p>
            </div> -->
          </div>
          <a href="AddChild.html" class="add-child-btn btn">Add child</a>
        </div>

        <div class="second-column-flex">
          <div class="map-zone">
            <!-- <img class="map-mychildren" src="Images/mapDemo.jpg" /> -->
            <div id="map"></div>
            <a href="MyLocations.html" class="btn-add-loc btn">See locations</a>
          </div>
          <div class="notifications-part">
            <p class="heading-secondary-children">Notifications</p>
            <div class="notifications-card">
              <!-- <div class="notification">
                <ion-icon
                  class="notification-icon"
                  name="alert-circle-outline"
                ></ion-icon>
                <p class="notification-text">
                  Rebecca Blue is more than 15m away from Home!
                </p>
              </div>
              <div class="notification">
                <img
                  src="SVG/2-persons-icon.svg"
                  class="notification-icon-people"
                />
                <p class="notification-text">
                  Rebecca Blue spent time with another user's child!
                </p>
              </div>
              <div class="notification">
                <img
                  src="SVG/home-heart-icon.svg"
                  class="notification-icon-home"
                />
                <p class="notification-text">
                  Rebecca Blue is about 15m close to Home!
                </p>
              </div>
              <div class="notification">
                <ion-icon
                  class="notification-icon"
                  name="alert-circle-outline"
                ></ion-icon>
                <p class="notification-text">
                  Rebecca Blue is more than 15m away from Home!
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>



    <!-- <script src="./map.js"> -->
    </script>
    <script src="../controller_entities/children.js"></script>
    <script src="../controller_maps/myChildrenMap.js"></script>
    <script src="../controller_auth/logout.js"></script>
    <!-- <script src="../controller_entities/notification2.js"></script> -->
    <script src="../controller_entities/notification.js"></script>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAON0S-VxHGI4z9gf3Q-HKuM1yzJzgAIrg&callback=initMap"></script>
  
  
  </body>
</hmtl>
